latitude=50.8463147
longitude=5.727238
username=office1725@post.com
password="!PH!9$7np8Fiy3vKFc#y"
chromecast="Home group"
adhan_link=https://www.islamcan.com/audio/adhan/azan2.mp3
reminder_link=https://everyayah.com/data/Alafasy_128kbps/002153.mp3
reminder_before=5