LATITUDE=0.0
LONGITUDE=0.0
USERNAME=user@email.com
PASSWORD=***********
CHROMECAST=cast
ADHAN_LINK=https://www.islamcan.com/audio/adhan/azan2.mp3
REMINDER_LINK=https://everyayah.com/data/Alafasy_128kbps/002153.mp3
REMINDER_BEFORE=60
STATUS_PORT=8000
TZ=Europe/Amsterdam